@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* container */

.container {
  height: 100vh;
  width: 100%;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ffffff;
  height: 64px;
  position: fixed;
  z-index: 3;
  width: 100%;
  margin-top: -64px;
}

/* head */

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

/* menu icon */

.head .menu-icon {
  font-size: 25px;
}

/* logo */

.head img {
  width: 175px;
  height: 36px;
}

/* other links */

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.links .links-icon {
  font-size: 25px;
}

.links .globe {
  font-size: 30px;
}

/* below navbar */

.below-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  background-color: #2a2d2c;
  height: 52px;
  margin-top: 64px;
}

.below-navbar h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: -3px;
  cursor: pointer;
}

.below-navbar h6 {
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.below-navbar h6 a {
  color: #ffffff;
}

/* content container */

.content-container {
  position: relative;
  z-index: 1;
  color: white;
}

/* video background */

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* text content */

.text-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 16px 56px;
}

/* rating div */

.rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 0 24px;
  cursor: pointer;
}

.rating p {
  font-weight: 600;
}

/* stars */

.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

/* stars wrap */

.stars .star-wrap {
  background-color: #00b67a;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* star icon */

.star-wrap .star-icon {
  color: #ffffff;
}

/* div after rationg */

.rating-o {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.rating-o p {
  font-size: 13px;
}

.star-icon-o {
  color: #00b67a;
  font-size: 20px;
}

/* main heading */

.main-heading h1 {
  font-size: 48px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

/* sub heading */

.sub-heading h4 {
  font-size: 16px;
  margin: 0 0 24px;
  font-weight: 500;
}

/* content button */

.content-btn {
  padding: 6px 16px;
  background-color: #98be42;
  border: 1px solid #98be42;
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  height: 46px;
  width: 210px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.content-btn:hover {
  background-color: #ffffff;
  color: #98be42;
}

/* adventures */

.adventures {
  position: relative;
  z-index: 2;
  padding: 0 0 0 30px;
}

/* adventure option */

.adventures-options {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 32px;
}

/* adventure option box */

.adventures-option-box {
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 0;
  cursor: pointer;
}

#box1::after {
  content: '';
  width: 90px;
  background: #98be42;
  height: 5px;
  display: block;
  margin: 7px auto 0;
  border-radius: 8px;
}

/* destination and activities */

.destination-wrap {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 30px;
}

.destination,
.activities {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 32px;
  margin: 20px 0 64px;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  overflow-x: scroll;
}

.destination::-webkit-scrollbar,
.activities::-webkit-scrollbar {
  display: none;
}

/* destination and activity box */

.destination-box1,
.destination-box2,
.destination-box3,
.destination-box4,
.destination-box5,
.destination-box6,
.destination-box7,
.activity-box1,
.activity-box2,
.activity-box3,
.activity-box4,
.activity-box5,
.activity-box6,
.activity-box7,
.activity-box8,
.activity-box9,
.activity-box10 {
  min-width: 167px;
  min-height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  filter: brightness(0.8);
}

/* images for each destination */

.destination-box1 {
  background-image: url(/public/images/adventure-img/destination1.webp);
}

.destination-box2 {
  background-image: url(/public/images/adventure-img/destination2.webp);
}

.destination-box3 {
  background-image: url(/public/images/adventure-img/destination3.webp);
}

.destination-box4 {
  background-image: url(/public/images/adventure-img/destination4.webp);
}

.destination-box5 {
  background-image: url(/public/images/adventure-img/destination5.webp);
}

.destination-box6 {
  background-image: url(/public/images/adventure-img/destination6.webp);
}

.destination-box7 {
  background-image: url(/public/images/adventure-img/destination7.webp);
}

/* images for each activity */

.activity-box1 {
  background-image: url(/public/images/adventure-img/activity1.webp);
}

.activity-box2 {
  background-image: url(/public/images/adventure-img/activity2.webp);
}

.activity-box3 {
  background-image: url(/public/images/adventure-img/activity3.webp);
}

.activity-box4 {
  background-image: url(/public/images/adventure-img/activity4.webp);
}

.activity-box5 {
  background-image: url(/public/images/adventure-img/activity5.webp);
}

.activity-box6 {
  background-image: url(/public/images/adventure-img/activity6.webp);
}

.activity-box7 {
  background-image: url(/public/images/adventure-img/activity7.webp);
}

.activity-box8 {
  background-image: url(/public/images/adventure-img/activity8.webp);
}

.activity-box9 {
  background-image: url(/public/images/adventure-img/activity9.webp);
}

.activity-box10 {
  background-image: url(/public/images/adventure-img/activity10.webp);
}

/* destination and activity name */

.destination-name,
.activity-name {
  padding: 16px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}

/* level container */

.level-container {
  padding: 72px 0 40px;
}

/* level content */

.level-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* level image */

.level-img {
  height: 200px;
  width: 200px;
}

/* level text */

.level-text {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.level-text h2 {
  font-size: 32px;
  margin: 0 0 24px;
  text-transform: uppercase;
  color: #000000de;
}

.level-text h4 {
  font-size: 16px;
  color: #000000de;
  font-weight: 500;
}

/* level box wrap */

.level-box-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 48px 0 0;
  padding: 0 62px;
}

/* level boxes */

.level-box1,
.level-box2,
.level-box3,
.level-box4 {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.9);
}

/* images for each level box */

.level-box1 {
  background-image: url(/public/images/level-images/level1.webp);
}

.level-box2 {
  background-image: url(/public/images/level-images/level2.webp);
}

.level-box3 {
  background-image: url(/public/images/level-images/level3.webp);
}

.level-box4 {
  background-image: url(/public/images/level-images/level4.webp);
}

/* level name */

.level-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level-name h3 {
  font-size: 32px;
  margin: 0 0 5px;
  text-transform: uppercase;
  color: #ffffff;
}

/* level icon */

.level-box1 .level-icon,
.level-box2 .level-icon,
.level-box3 .level-icon,
.level-box4 .level-icon {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.level-box1 .level-icon .level-icon-div,
.level-box2 .level-icon .level-icon-div,
.level-box3 .level-icon .level-icon-div,
.level-box4 .level-icon .level-icon-div {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.level-box1 .level-icon-div:nth-child(1),
.level-box2 .level-icon-div:nth-child(1),
.level-box2 .level-icon-div:nth-child(2),
.level-box3 .level-icon-div:nth-child(1),
.level-box3 .level-icon-div:nth-child(2),
.level-box4 .level-icon-div:nth-child(1),
.level-box4 .level-icon-div:nth-child(2) {
  background-color: #98be42;
}

.level-box1 .level-icon-div:nth-child(2),
.level-box1 .level-icon-div:nth-child(3),
.level-box1 .level-icon-div:nth-child(4),
.level-box2 .level-icon-div:nth-child(3),
.level-box2 .level-icon-div:nth-child(4),
.level-box3 .level-icon-div:nth-child(4) {
  background-color: #c4b8ad;
}

.level-box3 .level-icon-div:nth-child(3),
.level-box4 .level-icon-div:nth-child(3) {
  background-color: #f7dd43;
}

.level-box4 .level-icon-div:nth-child(4) {
  background-color: #e76135;
}

/* review container */

.review-container {
  padding: 72px 0 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

/* rating */

.rating-div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* rating div 1 */

.rating-a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.rating-a .rating-star-icon {
  font-size: 25px;
  color: #00b67a;
}

.rating-a p {
  font-weight: 600;
}

/* rating div 2 */

.rating-b {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.rating-star-wrap {
  background-color: #00b67a;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-star-wrap .star-icon {
  font-size: 25px;
  color: #ffffff;
}

/* rating content */

.rating-content {
  width: 500px;
}

.rating-content h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 24px;
  font-weight: 700;
}

/* rating button */

.rating-btn {
  padding: 5px 15px;
  height: 46px;
  margin: 24px 0 0;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rating-btn:hover {
  color: #98be42;
  border: 1px solid #98be42;
}

/* adventures container */

.adventures-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 32px 32px;
}

/* adventure deals */

.adventures-deals {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 32px 32px 0;
}

/* adventure deal box */

.adventures-deal-box {
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px 0;
  cursor: pointer;
}

#box-1::after {
  content: '';
  width: 60px;
  background: #98be42;
  height: 5px;
  display: block;
  margin: 7px auto 0;
  border-radius: 8px;
}

/* adventure deal wrap */

.adventure-deal-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 32px 32px;
  margin-top: 20px;
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
  overflow-x: scroll;
}

.adventure-deal-wrap::-webkit-scrollbar {
  display: none;
}

/* adventure deal boxes */

.adventure-deal-box-div1,
.adventure-deal-box-div2,
.adventure-deal-box-div3,
.adventure-deal-box-div4,
.adventure-deal-box-div5,
.adventure-deal-box-div6,
.adventure-deal-box-div7,
.adventure-deal-box-div8,
.adventure-deal-box-div9 {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  border-radius: 8px;
  overflow: hidden;
}

/* adventure deal image box */

.adventure-deal-img-box {
  background-size: cover;
  background-position: center;
  height: 338px;
  width: 100%;
  position: relative;
  filter: brightness(0.9);
}

/* images for each adventure deal boxes */

.adventure-deal-box-div1 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal1.webp);
}

.adventure-deal-box-div2 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal2.webp);
}

.adventure-deal-box-div3 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal3.webp);
}

.adventure-deal-box-div4 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal4.webp);
}

.adventure-deal-box-div5 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal5.webp);
}

.adventure-deal-box-div6 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal6.webp);
}

.adventure-deal-box-div7 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal7.webp);
}

.adventure-deal-box-div8 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal8.webp);
}

.adventure-deal-box-div9 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal9.webp);
}

/* adventure deal level */

.adventure-deal-level {
  padding: 4px 8px;
  background-color: #2a2d2ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 96px;
  border-radius: 5px;
  position: absolute;
  left: 16px;
  top: 16px;
}

.adventure-deal-level p {
  font-size: 11px;
}

/* adventure deal level icon */

.adventure-deal-level-icon {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.adventure-deal-level-icon-div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.adventure-deal-info-box {
  padding: 0 16px 16px;
  background-color: red;
}

/* adventure deal info 1 */

.adventure-deal-info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 16px;
}

.adventure-deal-info1 .info1-icon {
  color: #98be42;
}

.adventure-deal-info1 p {
  font-size: 12px;
  color: #ffffff;
}

/* adventure deal info 2 */

.adventure-deal-info2 {
  margin: 8px 0 0;
  color: #ffffff;
}

.adventure-deal-info2 h4 {
  font-size: 14px;
  text-transform: uppercase;
}

/* adventure deal info 3 */

.adventure-deal-info3 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
  margin: 6px 0 0;
  color: #ffffff;
}

.adventure-deal-info3 p {
  font-size: 11px;
}

.adventure-deal-info3 h5 {
  font-size: 18px;
}

/* collage container */

.collage-container {
  padding: 56px 32px;
  background-color: #f4f4f4;
}