@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* container */

.container {
  height: 100vh;
  width: 100%;
}

/* navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ffffff;
  height: 64px;
  position: fixed;
  z-index: 3;
  width: 100%;
  margin-top: -64px;
}

/* head */

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

/* menu icon */

.head .menu-icon {
  font-size: 25px;
}

/* logo */

.head img {
  width: 175px;
  height: 36px;
}

/* other links */

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.links .links-icon {
  font-size: 25px;
}

.links .globe {
  font-size: 30px;
}

/* below navbar */

.below-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  background-color: #2a2d2c;
  height: 52px;
  margin-top: 64px;
}

.below-navbar h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: -3px;
  cursor: pointer;
}

.below-navbar h6 {
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.below-navbar h6 button {
  color: #ffffff;
  background: transparent;
  outline: none;
  border: none;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

/* content container */

.content-container {
  position: relative;
  z-index: 1;
  color: white;
}

/* video background */

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* text content */

.text-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 16px 56px;
}

/* rating div */

.rating {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 0 24px;
  cursor: pointer;
}

.rating p {
  font-size: 18px;
  font-weight: 600;
}

/* stars */

.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

/* stars wrap */

.stars .star-wrap {
  background-color: #00b67a;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* star icon */

.star-wrap .star-icon {
  color: #ffffff;
}

/* div after rationg */

.rating-o {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.rating-o p {
  font-size: 13px;
}

.star-icon-o {
  color: #00b67a;
  font-size: 20px;
}

/* main heading */

.main-heading h1 {
  font-size: 48px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

/* sub heading */

.sub-heading h4 {
  font-size: 16px;
  margin: 0 0 24px;
  font-weight: 500;
}

/* content button */

.content-btn {
  padding: 6px 16px;
  background-color: #98be42;
  border: 1px solid #98be42;
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  height: 46px;
  width: 210px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.content-btn:hover {
  background-color: #ffffff;
  color: #98be42;
}

/* adventures */

.adventures {
  position: relative;
  z-index: 2;
  padding: 0 0 0 30px;
}

/* adventure option */

.adventures-options {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 32px;
}

/* adventure option box */

.adventures-option-box {
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 0;
  cursor: pointer;
}

#box1::after {
  content: '';
  width: 90px;
  background: #98be42;
  height: 5px;
  display: block;
  margin: 7px auto 0;
  border-radius: 8px;
}

/* destination */

.destination-wrap {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 30px;
}

.destination {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 32px;
  margin: 20px 0 64px;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  overflow-x: scroll;
}

.destination::-webkit-scrollbar {
  display: none;
}

/* destination box */

.destination-box1,
.destination-box2,
.destination-box3,
.destination-box4,
.destination-box5,
.destination-box6,
.destination-box7 {
  min-width: 167px;
  min-height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  filter: brightness(0.8);
}

/* images for each destination */

.destination-box1 {
  background-image: url(/public/images/adventure-img/destination1.webp);
}

.destination-box2 {
  background-image: url(/public/images/adventure-img/destination2.webp);
}

.destination-box3 {
  background-image: url(/public/images/adventure-img/destination3.webp);
}

.destination-box4 {
  background-image: url(/public/images/adventure-img/destination4.webp);
}

.destination-box5 {
  background-image: url(/public/images/adventure-img/destination5.webp);
}

.destination-box6 {
  background-image: url(/public/images/adventure-img/destination6.webp);
}

.destination-box7 {
  background-image: url(/public/images/adventure-img/destination7.webp);
}

/* destination name */

.destination-name {
  padding: 16px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}

/* level container */

.level-container {
  padding: 72px 0 40px;
}

/* level content */

.level-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* level image */

.level-img {
  height: 200px;
  width: 200px;
}

/* level text */

.level-text {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.level-text h2 {
  font-size: 32px;
  margin: 0 0 24px;
  text-transform: uppercase;
  color: #000000de;
}

.level-text h4 {
  font-size: 16px;
  color: #000000de;
  font-weight: 500;
}

/* level box wrap */

.level-box-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 48px 0 0;
  padding: 0 62px;
}

/* level boxes */

.level-box1,
.level-box2,
.level-box3,
.level-box4 {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(0.9);
}

/* images for each level box */

.level-box1 {
  background-image: url(/public/images/level-images/level1.webp);
}

.level-box2 {
  background-image: url(/public/images/level-images/level2.webp);
}

.level-box3 {
  background-image: url(/public/images/level-images/level3.webp);
}

.level-box4 {
  background-image: url(/public/images/level-images/level4.webp);
}

/* level name */

.level-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.level-name h3 {
  font-size: 32px;
  margin: 0 0 5px;
  text-transform: uppercase;
  color: #ffffff;
}

/* level icon */

.level-box1 .level-icon,
.level-box2 .level-icon,
.level-box3 .level-icon,
.level-box4 .level-icon {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.level-box1 .level-icon .level-icon-div,
.level-box2 .level-icon .level-icon-div,
.level-box3 .level-icon .level-icon-div,
.level-box4 .level-icon .level-icon-div {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.level-box1 .level-icon-div:nth-child(1),
.level-box2 .level-icon-div:nth-child(1),
.level-box2 .level-icon-div:nth-child(2),
.level-box3 .level-icon-div:nth-child(1),
.level-box3 .level-icon-div:nth-child(2),
.level-box4 .level-icon-div:nth-child(1),
.level-box4 .level-icon-div:nth-child(2) {
  background-color: #98be42;
}

.level-box1 .level-icon-div:nth-child(2),
.level-box1 .level-icon-div:nth-child(3),
.level-box1 .level-icon-div:nth-child(4),
.level-box2 .level-icon-div:nth-child(3),
.level-box2 .level-icon-div:nth-child(4),
.level-box3 .level-icon-div:nth-child(4) {
  background-color: #c4b8ad;
}

.level-box3 .level-icon-div:nth-child(3),
.level-box4 .level-icon-div:nth-child(3) {
  background-color: #f7dd43;
}

.level-box4 .level-icon-div:nth-child(4) {
  background-color: #e76135;
}

/* review container */

.review-container {
  padding: 72px 0 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

/* rating */

.rating-div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* rating div 1 */

.rating-a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.rating-a .rating-star-icon {
  font-size: 25px;
  color: #00b67a;
}

.rating-a p {
  font-weight: 600;
}

/* rating div 2 */

.rating-b {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.rating-star-wrap {
  background-color: #00b67a;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-star-wrap .star-icon {
  font-size: 25px;
  color: #ffffff;
}

/* rating content */

.rating-content {
  width: 500px;
}

.rating-content h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 24px;
  font-weight: 700;
}

/* rating button */

.rating-btn {
  padding: 5px 15px;
  height: 46px;
  margin: 24px 0 0;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rating-btn:hover {
  color: #98be42;
  border: 1px solid #98be42;
}

/* adventures container */

.adventures-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 32px;
}

/* adventure deals */

.adventures-deals {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 32px 32px 0 62px;
}

/* adventure deal box */

.adventures-deal-box {
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px 0;
  cursor: pointer;
}

#box-1::after {
  content: '';
  width: 60px;
  background: #98be42;
  height: 5px;
  display: block;
  margin: 7px auto 0;
  border-radius: 8px;
}

/* adventure deal wrap */

.adventure-deal-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 32px 32px 62px;
  margin-top: 20px;
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
  overflow-x: scroll;
}

.adventure-deal-wrap::-webkit-scrollbar {
  display: none;
}

/* adventure deal boxes */

.adventure-deal-box-div1,
.adventure-deal-box-div2,
.adventure-deal-box-div3,
.adventure-deal-box-div4,
.adventure-deal-box-div5,
.adventure-deal-box-div6,
.adventure-deal-box-div7,
.adventure-deal-box-div8,
.adventure-deal-box-div9 {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

/* adventure deal image box */

.adventure-deal-img-box {
  background-size: cover;
  background-position: center;
  height: 338px;
  width: 100%;
  position: relative;
  filter: brightness(0.9);
}

/* images for each adventure deal boxes */

.adventure-deal-box-div1 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal1.webp);
}

.adventure-deal-box-div2 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal2.webp);
}

.adventure-deal-box-div3 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal3.webp);
}

.adventure-deal-box-div4 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal4.webp);
}

.adventure-deal-box-div5 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal5.webp);
}

.adventure-deal-box-div6 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal6.webp);
}

.adventure-deal-box-div7 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal7.webp);
}

.adventure-deal-box-div8 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal8.webp);
}

.adventure-deal-box-div9 .adventure-deal-img-box {
  background-image: url(/public/images/deal-img/deal9.webp);
}

/* adventure deal level */

.adventure-deal-level {
  padding: 4px 8px;
  background-color: #2a2d2ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 96px;
  gap: 5px;
  border-radius: 5px;
  position: absolute;
  left: 16px;
  top: 16px;
}

.deal-level-icon {
  color: #98be42;
  font-size: 14px;
}

.adventure-deal-level p {
  font-size: 11px;
  color: #ffffff;
}

/* adventure deal level icon */

.adventure-deal-level-icon {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

.adventure-deal-box-div1 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div1 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div2 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div3 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div3 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div4 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div4 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div5 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div5 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div6 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div6 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div7 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div7 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div8 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div8 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div9 .adventure-deal-level-icon-div:nth-child(1),
.adventure-deal-box-div9 .adventure-deal-level-icon-div:nth-child(2) {
  background-color: #98be42;
}

.adventure-deal-box-div1 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div4 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div6 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div9 .adventure-deal-level-icon-div:nth-child(3) {
  background-color: #f7dd43;
}

.adventure-deal-box-div1 .adventure-deal-level-icon-div:nth-child(4) {
  background-color: #e76135;
}

.adventure-deal-box-div2 .adventure-deal-level-icon-div:nth-child(2),
.adventure-deal-box-div2 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div2 .adventure-deal-level-icon-div:nth-child(4),
.adventure-deal-box-div3 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div3 .adventure-deal-level-icon-div:nth-child(4),
.adventure-deal-box-div4 .adventure-deal-level-icon-div:nth-child(4),
.adventure-deal-box-div5 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div5 .adventure-deal-level-icon-div:nth-child(4),
.adventure-deal-box-div6 .adventure-deal-level-icon-div:nth-child(4),
.adventure-deal-box-div7 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div7 .adventure-deal-level-icon-div:nth-child(4),
.adventure-deal-box-div8 .adventure-deal-level-icon-div:nth-child(3),
.adventure-deal-box-div8 .adventure-deal-level-icon-div:nth-child(4),
.adventure-deal-box-div9 .adventure-deal-level-icon-div:nth-child(4) {
  background-color: #c4b8ad;
}

.adventure-deal-level-icon-div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.adventure-deal-info-box {
  padding: 0 16px 16px;
  background-color: #2a2d2c;
}

/* adventure deal info 1 */

.adventure-deal-info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  left: 16px;
}

.adventure-deal-info1 .info1-icon {
  color: #98be42;
}

.adventure-deal-info1 p {
  font-size: 12px;
  color: #ffffff;
}

/* adventure deal info 2 */

.adventure-deal-info2 {
  margin: 8px 0 0;
  color: #ffffff;
}

.adventure-deal-info2 h4 {
  font-size: 14px;
  text-transform: uppercase;
}

/* adventure deal info 3 */

.adventure-deal-info3 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
  margin: 6px 0 0;
  color: #ffffff;
}

.adventure-deal-info3 p {
  font-size: 11px;
}

.adventure-deal-info3 h5 {
  font-size: 18px;
}

/* collage container */

.collage-container {
  padding: 56px 62px;
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* collage 1  */

.collage-1 {
  background-image: url(/public/images/collage/collage1.webp);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 720px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: brightness(0.85);
}

.collage-1 h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  margin: 0 0 16px;
}

.collage-1 h2 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 48px;
  margin-bottom: -13px;
  font-weight: 800;
}

.collage-1 p {
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0 24px;
}

.collage-1 .sale-btn {
  height: 46px;
  padding: 6px 8px;
  width: 90px;
  background-color: #ffffff;
  color: #2a2d2c;
  font-size: 12px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.collage-1 .sale-btn:hover {
  color: #98be42;
}

/* collage 2 */

.collage-2 {
  width: 50%;
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17px;
}

/* colage 2 image boxes */

.collage-2-img-1,
.collage-2-img-2,
.collage-2-img-3,
.collage-2-img-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.collage-2 .collage-2-img-1 {
  background-image: url(/public/images/collage/collage2.webp);
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 10px;
  filter: brightness(0.8);
}

.collage-2 .collage-2-img-2 {
  background-image: url(/public/images/collage/collage3.webp);
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 10px;
  filter: brightness(0.8);
}

.collage-2 .collage-2-img-3 {
  background-image: url(/public/images/collage/collage4.webp);
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 10px;
  filter: brightness(0.8);
}

.collage-2 .collage-2-img-4 {
  background-image: url(/public/images/collage/collage5.webp);
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 350px;
  border-radius: 10px;
  filter: brightness(0.8);
}

.collage-2 h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

/* aim container */

.aim-container {
  display: flex;
  flex-direction: row;
  padding: 0 32px 40px 0;
  gap: 30px;
}

/* aim box */

.aim-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  padding: 32px 0 0 20px;
}

.aim-box img {
  height: 96px;
  width: 100px;
  margin-bottom: 16px;
}

.aim-box h4 {
  font-size: 16px;
  color: #000000de;
  margin: 0 0 6px;
  text-transform: uppercase;
  text-align: center;
}

.aim-box p {
  font-size: 16px;
  color: #000000de;
  margin: 0 0 16px;
  text-align: center;
}

/* purpose container */

.purpose-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  background-color: #dde0df;
}

.purpose-container h5 {
  font-size: 12px;
  color: #000000de;
  text-transform: uppercase;
  font-weight: 800;
}

.purpose-container p {
  font-size: 24px;
  color: #000000de;
}

/* footer container */

.footer-container {
  padding: 80px 30px 48px;
  background-color: #2a2d2c;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* footer wrap */

.footer-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* footer div1 */

.footer-div1 {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.footer-div1 h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-div1 p {
  color: #ffffff;
  font-size: 12px;
  margin: 8px 0 0;
}

/* footer div 1 images */

.footer-div1-images {
  display: flex;
  flex-direction: row;
  margin: 24px 0 0;
  gap: 10px;
  cursor: pointer;
}

.footer-div1-images .img1 {
  height: 42px;
  width: 42px;
}

.footer-div1-images .img2,
.footer-div1-images .img3 {
  height: 42px;
  width: 120px;
}

/* footer div2 */

.footer-div2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-width: 564px;
}

/* footer div2 list1 */

.footer-div2-list {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 0 8px 0 0;
}

.list-head {
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

/* list1 links wrap */

.list-links-wrap {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

/* list links */

.list-links {
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}

.list-links:hover {
  text-decoration: underline;
}

/* list btn */

.list-btn {
  padding: 5px 15px;
  font-size: 16px;
  color: #ffffff;
  height: 40px;
  width: 65px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.list-btn:hover {
  background-color: #282b2a;
}

/* footer div3 */

.footer-div3 {
  display: flex;
  flex-direction: column;
  width: 466px;
  margin-top: -60px;
}

.footer-div3 h4 {
  color: #ffffff;
}

/* footer div3 wrap */

.footer-div3-wrap {
  display: flex;
  flex-direction: row;
  margin: 8px 0 0;
  align-items: center;
  gap: 20px;
}

.footer-div3-wrap .img4 {
  width: 66px;
  height: 108px;
}

/* footer div3 text */

.footer-div3-text {
  display: flex;
  flex-direction: column;
}

.footer-div3-text p {
  font-size: 12px;
  color: #ffffff;
}

.footer-div3-text h6 {
  font-size: 12px;
  color: #98be42;
  text-decoration: underline;
  margin: 8px 0 0;
  cursor: pointer;
}

/* footer div4 */

.footer-div4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-div4-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.footer-div4-1 .img5 {
  width: 163px;
  height: 32px;
  cursor: pointer;
}

.footer-div4-1 p {
  font-size: 12px;
  color: #8e8e8e;
  text-align: center;
}

/* footer div4 2 */

.footer-div4-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* footer div4 2 icon */

.footer-div4-2-icon {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-div4-2-icon:hover {
  background-color: #282b2a;
}

.footer-div4-2-icon .div4-2-icon {
  color: #ffffff;
  font-size: 23px;
}

/* responsiveness */

@media (max-width: 1250px) {

  /* home section */

  .destination-wrap,
  .adventures {
    padding: 0;
  }

  /* level section */

  .level-box-wrap {
    padding: 0 32px;
  }

  .level-box1,
  .level-box2,
  .level-box3,
  .level-box4 {
    height: 300px;
    width: 300px;
  }

  /* adventure section */

  .adventures-deals {
    padding: 32px 32px 0;
  }

  .adventure-deal-wrap {
    padding: 0 32px 32px;
  }

  /* collage section */

  .collage-container {
    padding: 56px 32px;
  }

  .collage-1,
  .collage-2 {
    height: 600px;
  }

  .collage-2 .collage-2-img-1,
  .collage-2 .collage-2-img-2,
  .collage-2 .collage-2-img-3,
  .collage-2 .collage-2-img-4 {
    height: 290px;
    width: 270px;
  }

  .collage-2 h2 {
    width: 240px;
    text-align: center;
  }
}

@media (max-width: 1150px) {

  /* collage section */

  .collage-container {
    padding: 56px 32px;
  }

  .collage-1,
  .collage-2 {
    height: 600px;
  }

  .collage-2 .collage-2-img-1,
  .collage-2 .collage-2-img-2,
  .collage-2 .collage-2-img-3,
  .collage-2 .collage-2-img-4 {
    height: 290px;
    width: 250px;
  }
}

@media (max-width: 1100px) {

  /* level section */

  .level-box-wrap {
    flex-wrap: wrap;
  }

  /* collage section */

  .collage-container {
    padding: 40px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .collage-1,
  .collage-2 {
    width: 100%;
    height: 600px;
  }

  .collage-2 .collage-2-img-1,
  .collage-2 .collage-2-img-2,
  .collage-2 .collage-2-img-3,
  .collage-2 .collage-2-img-4 {
    height: 300px;
    width: 100%;
  }

  /* footer section */

  .footer-wrap {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .footer-div3 {
    margin: 0;
  }
}

@media (max-width: 1000px) {

  /* level section */

  .level-box1,
  .level-box2,
  .level-box3,
  .level-box4 {
    height: 350px;
    width: 350px;
  }

  /* aim section */

  .aim-container {
    gap: 10px;
  }

  /* footer section */

  .footer-div4,
  .footer-div4-1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-div4-1 p {
    text-align: left;
  }
}

@media (max-width: 900px) {

  /* aim section */

  .aim-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px 40px;
  }

  .aim-box {
    width: 350px;
  }
}

@media (max-width: 800px) {

  /* level section */

  .level-box1,
  .level-box2,
  .level-box3,
  .level-box4 {
    height: 300px;
    width: 100%;
  }

  /* review section */

  .review-container {
    flex-direction: column;
  }

  .rating-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rating-div2 {
    align-items: center;
  }

  .rating-content p {
    text-align: center;
  }
}

@media (max-width: 750px) {

  /* level section */

  .level-container {
    padding: 40px 0;
  }

  .level-content {
    flex-direction: column;
  }

  .level-img {
    height: 180px;
    width: 180px;
  }

  .level-text h2 {
    margin: 0 0 10px;
    text-align: center;
    line-height: 1.2;
  }

  .level-text h4 {
    text-align: center;
  }

  /* collage section */

  .collage-container {
    padding: 40px 20px;
  }

  .collage-1,
  .collage-2 {
    height: 500px;
  }

  .collage-2 .collage-2-img-1,
  .collage-2 .collage-2-img-2,
  .collage-2 .collage-2-img-3,
  .collage-2 .collage-2-img-4 {
    height: 240px;
  }

  /* aim section */

  .aim-container {
    padding: 0 20px 30px;
  }

  .aim-box {
    width: 300px;
  }

  /* purpose section */

  .purpose-container p {
    width: 600px;
    text-align: center;
  }
}

@media (max-width: 700px) {

  /* level section */

  .level-box1,
  .level-box2,
  .level-box3,
  .level-box4 {
    height: 350px;
  }
}

@media (max-width: 650px) {

  /* collage section */

  .collage-1,
  .collage-2 {
    height: 400px;
  }

  .collage-2 .collage-2-img-1,
  .collage-2 .collage-2-img-2,
  .collage-2 .collage-2-img-3,
  .collage-2 .collage-2-img-4 {
    height: 190px;
  }

  /* aim section */

  .aim-box {
    width: 250px;
  }

  /* purpose section */

  .purpose-container {
    height: 150px;
  }

  .purpose-container p {
    font-size: 22px;
    line-height: 1.2;
    width: 500px;
  }
}

@media (max-width: 600px) {

  /* footer section */

  .footer-div2 {
    flex-direction: column;
  }

  .footer-div1,
  .footer-div3 {
    width: 400px;
  }
}

@media (max-width: 550px) {

  /* level section */

  .level-text {
    width: 430px;
  }

  /* review section */

  .rating-content {
    width: 430px;
  }

  /* collage section */

  .collage-1 {
    height: 400px;
  }

  .collage-1 h4 {
    font-size: 17px;
    margin: 0 0 10px;
  }

  .collage-1 h2 {
    font-size: 40px;
  }

  .collage-1 p {
    width: 350px;
    text-align: center;
  }

  .collage-1 .sale-btn {
    height: 40px;
    padding: 5px;
  }

  .collage-2 {
    grid-template-columns: 1fr;
    height: 850px;
  }

  .collage-2 .collage-2-img-1,
  .collage-2 .collage-2-img-2,
  .collage-2 .collage-2-img-3,
  .collage-2 .collage-2-img-4 {
    height: 200px;
    width: 100%;
  }

  /* aim section */

  .aim-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aim-box {
    width: 400px;
    padding: 0;
  }

  /* footer section */

  .footer-container {
    padding: 30px 20px;
  }

  .footer-div1,
  .footer-div3 {
    width: 400px;
  }
}

@media (max-width: 450px) {

  /* navbar */

  .navbar {
    padding: 6px 20px;
  }

  .head {
    gap: 8px;
  }

  .links {
    gap: 10px;
  }

  .head img {
    width: 150px;
    height: 34px;
  }

  /* home section */

  .text-content {
    padding: 200px 5px 56px;
  }

  .rating {
    margin: 0 0 15px;
  }

  .rating p {
    font-size: 16px;
  }

  .rating-o p {
    font-size: 12px;
  }

  .main-heading h1 {
    font-size: 40px;
    margin: 0 0 5px;
  }

  .sub-heading h4 {
    font-size: 15px;
    margin: 0 0 20px;
    width: 350px;
    text-align: center;
  }

  .content-btn {
    height: 42px;
    width: 180px;
    padding: 5px 10px;
    font-size: 16px;
  }

  /* level section */

  .level-text {
    width: 330px;
  }

  /* review section */

  .rating-content {
    width: 330px;
  }

  /* collage section */

  .collage-1 {
    height: 300px;
  }

  .collage-1 h4 {
    font-size: 16px;
    margin: 0 0 10px;
  }

  .collage-1 h2 {
    font-size: 30px;
  }

  .collage-1 p {
    width: 260px;
    text-align: center;
  }

  .collage-1 .sale-btn {
    height: 35px;
  }

  .collage-2 {
    height: 850px;
  }

  .collage-2 .collage-2-img-1,
  .collage-2 .collage-2-img-2,
  .collage-2 .collage-2-img-3,
  .collage-2 .collage-2-img-4 {
    height: 200px;
    width: 100%;
  }

  /* aim section */

  .aim-box {
    width: 300px;
  }

  /* purpose section */

  .purpose-container p {
    font-size: 20px;
    width: 300px;
  }

  /* footer section */

  .footer-div1,
  .footer-div3 {
    width: 350px;
  }
}

@media (max-width: 400px) {

  /* home section */

  .adventures-options {
    padding: 0 20px;
    gap: 15px;
  }

  .destination {
    padding: 0 20px;
  }

  /* level section */

  .level-box1,
  .level-box2,
  .level-box3,
  .level-box4 {
    height: 300px;
  }

  .level-name h3 {
    font-size: 28px;
  }

  /* adventure section */

  .adventures-deals {
    padding: 32px 20px 0;
    gap: 20px;
  }

  .adventures-deal-box {
    font-size: 12px;
  }

  .adventure-deal-wrap {
    padding: 0 20px 15px;
  }

  /* aim section */

  .aim-box {
    width: 280px;
  }

  /* footer section */

  .footer-div1,
  .footer-div3 {
    width: 300px;
  }
}

@media (max-width: 350px) {

  /* navbar */

  .navbar {
    padding: 6px 10px;
  }

  /* home section */

  .main-heading h1 {
    font-size: 35px;
  }

  /* level section */

  .level-box1,
  .level-box2,
  .level-box3,
  .level-box4 {
    height: 260px;
  }

  .level-text {
    width: 280px;
  }

  /* review section */

  .rating-content {
    width: 280px;
  }

  /* footer section */

  .footer-div1,
  .footer-div3 {
    width: 280px;
  }
}